{% extends "aplicacion/base.html" %}
    

{% block contenido %}
    {% load static %}

    <!-- Información de Ajustes -->
    <div class="container border p-3 mb-5 mt-5">
        <h3>Datos de la cuenta</h3>
        <p>Se utilizan los datos solo para mejorar su experiencia de usuario.</p>
    </div>

    <div class="container border mb-3">
        <div class="p-3">
            <h5>Nombre de Usuario</h5>
            <div class="mb-3 row g-3">
                <label for="nombreUsuario" class="form-label">{{ user.username }}</label>
            </div>
            <div class="mb-3">
                <a href="{% url 'actualizarusuario' %}" class="btn btn-warning">Cambiar</a>
            </div>
        </div>

        <div class="mb-3 p-3">
            <h5>Información de Contacto</h5>
            {% if user.email %}
                <!-- Muestra el correo del usuario autenticado -->
                <div class="mb-3">
                    <label>{{ user.email }}</label>
                </div>
                <div class="mb-3">
                    <a href="{% url 'actualizarcorreo' %}" class="btn btn-warning">Cambiar</a>
                </div>
            {% else %}
                <div>
                    <h5>Correo Electrónico (El Perfil no está completo)</h5>
                    <label class="mb-3">Para autenticar rellene la información</label>
                </div>
                <div>
                    <a href="{% url 'actualizarcorreo' %}" class="btn btn-warning">Añadir correo</a>
                </div>
            {% endif %}
        </div>

        <!-- Aquí puedes agregar más secciones para otros campos del perfil, como teléfono y rut -->
        <!-- Ejemplo para teléfono -->
        <div class="mb-3 p-3">
            <!-- Aquí puedes mostrar el teléfono si está registrado o permitir agregarlo -->
            {% if user.perfil.telefono %}
                <h5>Teléfono</h5>
                <div class="mb-3">
                    <label>{{ user.perfil.telefono }}</label>
                </div>
                <div class="mb-3">
                    <a href="{% url 'actualizartelefono' %}" class="btn btn-warning">Cambiar</a>
                </div>
            {% else %}
                <div>
                    <h5>Teléfono (El Perfil no está completo)</h5>
                    <label class="mb-3">Añade tu número de teléfono para mejorar la comunicación</label>
                </div>
                <div>
                    <a href="{% url 'actualizartelefono' %}" class="btn btn-warning">Actualizar Teléfono</a>
                </div>
            {% endif %}

            {% if user.perfil.direccion %}
                <h5>Direccion</h5>
                <div class="mb-3">
                    <label>{{ user.perfil.direccion }}</label>
                </div>
                <div class="mb-3">
                    <a href="{% url 'actualizardireccion' %}" class="btn btn-warning">Cambiar</a>
                </div>
            {% else %}
                <h5>Direccion (El Perfil no está completo)</h5>
                <div class="mb-3">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion">
                </div>
                <div class="mb-3">
                    <a href="{% url 'actualizardireccion' %}" class="btn btn-warning">Cambiar</a>
                </div>
            {% endif %}
        </div>
{% comment %} 
        <!-- Ejemplo para Rut -->
        <div class="mb-3 p-3">
            <!-- Aquí puedes mostrar el rut si está registrado o permitir agregarlo -->
            {% if user.perfil.rut %}
                <div class="mb-3">
                    <label>{{ user.perfil.rut }}</label>
                </div>
                <div class="mb-3">
                    <a href="{% url 'actualizarrut' %}" class="btn btn-warning">Cambiar</a>
                </div>
            {% else %}
                <div>
                    <h5>Rut (El Perfil no está completo)</h5>
                    <label class="mb-3">Añade tu RUT para completar tu perfil</label>
                </div>
                <div>
                    <a href="{% url 'ajustescuenta' user.id %}" class="btn btn-warning">Añadir Rut</a>
                </div>
            {% endif %}
        </div> 
{% endcomment %}
</div>
<script>
    const direccionInput = document.getElementById('direccion');

    direccionInput.addEventListener('input', function() {
        const inputValue = this.value;
        const apiKey = '122858b062254ae7bb2a14d6a5f9b7ea'; // Reemplazar con tu clave de API de OpenCage Data
        const endpoint = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(inputValue)}&key=${apiKey}`;

        fetch(endpoint)
        .then(response => response.json())
        .then(data => {
          // Borra cualquier lista de sugerencias anterior
            const suggestionsList = document.getElementById('sugerencias');
            suggestionsList.innerHTML = '';
    
          // Procesa los resultados y muestra las sugerencias
            data.results.forEach(result => {
                const suggestionItem = document.createElement('li');
                suggestionItem.textContent = result.formatted;
                suggestionItem.classList.add('suggestion-item');
    
            // Añade un evento de clic para seleccionar la sugerencia
            suggestionItem.addEventListener('click', function() {
              direccionInput.value = result.formatted; // Completa el campo de dirección con la sugerencia seleccionada
              suggestionsList.innerHTML = ''; // Borra la lista de sugerencias
            });
    
            suggestionsList.appendChild(suggestionItem); // Añade la sugerencia a la lista
            });
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
    });
</script>
{% endblock %}