{% extends "aplicacion/base.html" %}
    

{% block contenido %}

<body>
    <div class="row mt-3 mb-3 white-background" id="pedido1Usuario">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="static/img/pinturas.jpg" alt="Producto 1" class="img-fluid border" width="35%">
            </div>
            <div class="col-md-6 px-5 mt-3">
                <h4>Seguimiento de Pedido</h4>
                <!--Pedido 1-->
                <p><strong>Estado de la Entrega:</strong> En tránsito</p>
                <p><strong>Información del Pedido:</strong></p>
                <ul>
                    <li><strong>Número de Pedido:</strong> 123456</li>
                    <li><strong>Fecha de Compra:</strong> 15 de diciembre de 2021</li>
                    <li><strong>Producto:</strong> Set de pinturas The Army Painter 10 colores</li>
                    <li><strong>Cantidad:</strong> 1 unidades</li>
                    <li><strong>Total:</strong> $12.000</li>
                </ul>
                <div class="justify-content-center">
                  <button class="btn btn-danger rounded-0 mt-2" data-bs-toggle="modal" data-bs-target="#confirmCancelModal">Cancelar Pedido</button>
                  <a href="#" class="btn btn-secondary rounded-0 mt-2">Detalles de producto</a>
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>



    <div class="row mt-3 mb-5">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="static/img/mini.jpg" alt="Producto 1" class="img-fluid border" width="35%">
        </div>
        <div class="col-md-6 px-5 mt-3" id="pedido2Usuario">
            <h4>Seguimiento de Pedido</h4>
            <!--Pedido 2-->
            <p><strong>Estado de la Entrega:</strong> Entregado</p>
            <p><strong>Información del Pedido:</strong></p>
            <ul>
                <li><strong>Número de Pedido:</strong> 134567</li>
                <li><strong>Fecha de Compra:</strong> 13 de diciembre de 2021</li>
                <li><strong>Producto:</strong> Miniatura Soldado Lobos Lunares</li>
                <li><strong>Cantidad:</strong> 2 unidades</li>
                <li><strong>Total:</strong> $15.000</li>
            </ul>
            <div class="justify-content-center">
              <a href="#" class="btn btn-secondary rounded-0 mt-2">Detalles de producto</a>
            </div>
            <hr class="mt-5">
        </div>
</body>



<!-- Modal de Confirmación para Cancelar Pedido -->
<div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmCancelModalLabel">Confirmar Cancelación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cancelar este pedido? Será redirigido a la página de contacto.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a href="contacto.html" class="btn btn-danger" id="confirmacionEliminarPedido">Cancelar Pedido</a><!--ENVÍA LA INFORMAICÓN A LA DB-->
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}