{% extends "aplicacion/base.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
{% load static %}

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <h2 style="font-size:150%"><strong>Carrito de Compras</strong></h2>
      <form method="post">
        {% csrf_token %}
        {{ compra_form|crispy }}
        {% if carrito.items.all %}
        {% for item in carrito.items.all %}
        <div class="d-flex border align-items-center mt-3 p-2">
          <div class="me-3">
            {% if item.producto.foto %}
              <img src="{{ item.producto.foto.url }}" class="img-fluid" alt="Imagen del producto" width="100">
            {% else %}
              <img src="{% static 'img/default-product-image.jpg' %}" class="img-fluid" alt="Imagen por defecto" width="100">
            {% endif %}
          </div>
          <div class="flex-grow-1">
            <p>{{ item.producto.nombre }}</p>
            <p class="fw-bold">Precio Unitario: ${{ item.producto.precio }}</p>
          </div>
          <div class="input-group">
            <label for="cantidad">Cantidad:</label>
            <div class="input-group">
              <button type="button" class="btn btn-outline-secondary btn-minus">-</button>
              <input type="number" name="cantidades" class="form-control item-quantity" min="1" value="{{ item.cantidad }}" data-item-id="{{ item.id }}">
              <button type="button" class="btn btn-outline-secondary btn-plus">+</button>
            </div>
          </div>
          <div class="mb-3">
            <label for="precio">Precio Total:</label>
            <p class="card-text fw-bold" id="precioTotal-{{ item.id }}">${{ item.total }}</p>
          </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'eliminar_producto_carrito' item.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto del carrito?')">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3" viewBox="0 0 16 16">
                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6z"/>
              </svg>
            </a>
          </div>
        </div>
        <br>
        {% endfor %}
        
        {% else %}
          <p>No hay productos en el carrito</p>
        {% endif %}
      </form>
    </div>

    <div class="col-md-4 d-flex flex-column align-items-center">
      <!-- Resumen de objetos en el carrito -->
      <div class="card mt-5 mb-3 rounded-0 overflow-hidden p-4">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Producto(s) en el carrito: {{ carrito.items.count }}</li>
          {% for item in carrito.items.all %}
            <li class="list-group-item">
              <p>{{ item.producto.nombre }}</p>
              <p class="fw-bold">Precio Unitario: ${{ item.producto.precio }}</p>
            </li>
          {% endfor %}
          <li class="list-group-item" id="totalCarrito">Total: ${{ total }}</li>
        </ul>
        <div class="card-body">
        <!-- Botón para abrir el modal -->
        {% if carrito.items.all %}
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#confirmacionPago">Tramitar Pago</button>
        {% endif %}
        <!-- Modal pago confirmado -->
        <div class="modal fade" id="confirmacionPago" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación de Pago</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'crear_pedido' %}" method="post">
                            {% csrf_token %}
                            {{ compra_form|crispy }}
                            {% if carrito.items.all %}
                            <h2>Haz Comprado:</h2>
                            <div id="productos-compra">
                                {% for item in carrito.items.all %}
                                <div class="d-flex border align-items-center mt-3 p-2">
                                    <div class="card-body">
                                        <label for="producto">Producto:</label>
                                        <h2 class="card-title">{{ item.producto.nombre }}</h2>
                                        <input type="hidden" name="productos_ids" value="{{ item.producto.id }}">
                                        <img src="{{ item.producto.foto.url }}" alt="{{ item.producto.nombre }}" class="img-fluid card-img-top mb-3">
                                        <div class="mb-3 w-25">
                                            <label for="cantidad">Cantidad:</label>
                                            <div class="input-group">
                                                <p>{{ item.cantidad }}</p>
                                                <input type="hidden" name="cantidades" value="{{ item.cantidad }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <button href="{% url 'carrito' %}" type="submit" class="btn btn-success">Ok</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        
      
        </div>
      </div>

      <div class="card mt-3 mb-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle rounded-0" type="button" id="paymentDropdown" data-bs-toggle="dropdown">
            Seleccionar medio de pago
          </button>
          <ul class="dropdown-menu rounded-0" aria-labelledby="paymentDropdown">
            <li>
              <a class="dropdown-item" href="#">
                <img src="{% static 'img/webpay.jpg' %}" alt="Medio de pago 1" class="payment-icon" width="50%">
                WebPay
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <img src="{% static 'img/paypal.png' %}" alt="Medio de pago 2" class="payment-icon" width="50%">
                PayPal
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Selección entrega o retiro -->
      <div class="card mt-3 mb-5 p-2">
        <div class="form-check text-start">
          <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Retiro en tienda
          </label>
        </div>
        <div class="form-check text-start">
          <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Entrega a domicilio
          </label>
        </div>
      </div>
    </div>
  </div>
  <!-- Más productos -->
<!--   <div class="row mb-3">
    <h2>MÁS PRODUCTOS</h2>
  </div>
  <div class="row">
    {% for producto in productos %}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          {% if producto.foto %}
            <img src="{{ producto.foto.url }}" class="card-img-top" alt="{{ producto.nombre }}">
          {% else %}
            <img src="{% static 'img/default-product.jpg' %}" class="card-img-top" alt="Producto sin imagen">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text fw-bold">$ {{ producto.precio }}</p>
            <form id="agregarProductoForm{{ producto.id }}" method="post" action="{% url 'agregar_producto_carrito' producto.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-warning">Agregar al Carrito</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div> -->
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll('.btn-plus').forEach(button => {
          button.addEventListener('click', function() {
              let input = this.previousElementSibling;
              let newValue = parseInt(input.value) + 1;
              input.value = newValue;
              updateCartItem(input.dataset.itemId, newValue);
          });
      });

      document.querySelectorAll('.btn-minus').forEach(button => {
          button.addEventListener('click', function() {
              let input = this.nextElementSibling;
              let newValue = parseInt(input.value) - 1;
              if (newValue >= 1) {
                  input.value = newValue;
                  updateCartItem(input.dataset.itemId, newValue);
              }
          });
      });

/*       function updateCartItem(itemId, newQuantity) {
          // Crea un formulario oculto y envíalo automáticamente
          let form = document.createElement('form');
          form.method = 'post';
          form.action = `/carrito/${itemId}/`;

          let csrfToken = document.createElement('input');
          csrfToken.type = 'hidden';
          csrfToken.name = 'csrfmiddlewaretoken';
          csrfToken.value = '{{ csrf_token }}';
          form.appendChild(csrfToken);

          let itemIdInput = document.createElement('input');
          itemIdInput.type = 'hidden';
          itemIdInput.name = 'item_id';
          itemIdInput.value = itemId;
          form.appendChild(itemIdInput);

          let quantityInput = document.createElement('input');
          quantityInput.type = 'hidden';
          quantityInput.name = 'nueva_cantidad';
          quantityInput.value = newQuantity;
          form.appendChild(quantityInput);

          document.body.appendChild(form);
          form.submit();
      } */
  });
</script>


{% endblock contenido %}