{% extends "aplicacion/base.html" %}
    

{% block contenido %}
{% load static %}

<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h2 style="font-size:150%"><strong>Carrito de Compras</strong></h2>
        <div class="d-flex border align-items-center mt-3 text-wrap">
          <img src="{%static 'img/mini.jpg' %}" class="img-fluid me-3" alt="Imagen del carrito" width="20%">
          <div>
            <p>Soldado Lobos Lunares</p>
            <p id="precioProducto" class="fw-bold">$6.500</p>
          </div> 
          <div class="input-group ms-5 p-3" style="width: auto; min-width: 110px;">
            <button class="btn btn-outline-secondary  rounded-0" type="button" id="decrement">-</button>
            <input type="number" value="1" min="1" max="10" class="form-control text-center" id="qtyInput">
            <button class="btn btn-outline-secondary rounded-0" type="button" id="increment">+</button>
            <p class="fw-bold ms-3 d-block mt-2" style="font-size: x-large;" id="totalValue">$6.500</p>
          </div>
        </div>
        <br>
        <a href="{% url 'index' %}" class="btn btn-warning rounded-0 mt-4 float-start">Continuar comprando</a>
      </div>
    <div class="col-md-4 d-flex flex-column align-items-center">

      <!-- Resumen de objetos en el carrito -->
      <div class="card mt-5 mb-3 rounded-0 overflow-hidden p-4">
        <ul class="list-group list-group-flush"><div class="input-group">
        </div>
          <li class="list-group-item" id="ctdTotalProductos">1 artículo(s) - $ 6.500
          <li class="list-group-item" id="totalConImpuestos">Total (impuestos inc.) - $ 9.000</li>
        </ul>
        <button class="btn btn-link text-start" type="button" data-bs-toggle="collapse" data-bs-target="#cuponCollapse">
          ¿Tienes un cupón de descuento?
        </button>
        <div class="collapse" id="cuponCollapse">
          <div class="input-group mt-3">
            <input type="text" class="form-control" placeholder="Código de cupón" style="width: auto;">
            <button class="btn btn-warning rounded-0" type="button">Aplicar</button>
          </div>
        </div>

        <div class="card-body">

          <!-- Botón confirmar pago -->
          <button type="button" class="btn btn-secondary rounded-0" data-bs-toggle="modal"
            data-bs-target="#confirmapago">Tramitar Compra</button>

          <!-- Modal pago confirmado -->
          <div class="modal fade" id="confirmapago" tabindex="-1" aria-labelledby="confirma" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Pago Exitoso</h5>
                </div>
                <div class="modal-body">
                  Su pago fue realizado con éxito.
                </div>
                <div class="modal-footer">
                  <a href="{% url 'index'%}" class="btn btn-secondary" data-bs-dismiss="modal" value="SUBMIT">OK</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-3 mb-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle rounded-0" type="button" id="paymentDropdown"
            data-bs-toggle="dropdown">
            Seleccionar medio de pago
          </button>
          <ul class="dropdown-menu rounded-0" aria-labelledby="paymentDropdown">
            <li>
              <a class="dropdown-item" href="#">
                <img src="static/img/webpay.jpg" alt="Medio de pago 1" class="payment-icon" width="50%">
                WebPay
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <img src="static/img/paypal.png" alt="Medio de pago 2" class="payment-icon" width="50%">
                PayPal
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!--Seleccion entrega o retiro-->
      <div class="card mt-3 mb-5 p-2">
        <div class="form-check text-start">
          <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Retiro en tienda
          </label>
        </div>
        <div class="form-check text-start">
          <input class="form-check-input" type="radio" name="exampleRadios" value="option2">
          <label class="form-check-label" for="exampleRadios2">
            Entrega a domicilio
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}