{% extends "aplicacion/base.html" %}
{%load static%}  
{% load crispy_forms_tags %}
{% block contenido %}


<div class="container mt-5">
    <h1>Editar Producto</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% crispy form %}
    </form>
</div>

<!-- Modal de confirmación para eliminar producto -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar el producto "{{ form.instance.nombre }}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="eliminarForm" method="post" action="{% url 'eliminar_producto' producto.nombre %}">
                    {% csrf_token %}
                    <input type="hidden" name="eliminar" value="True">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock contenido %}