{% extends "aplicacion/base.html" %}
    

{% block contenido %}
{%load static%}

<div class="container mt-5 mb-5">
    <h1 class="text-center">Estadísticas Financieras</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ingresos</h5>
                    <p class="card-text">$1,000,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gastos</h5>
                    <p class="card-text">$600,000</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Beneficio Neto</h5>
                    <p class="card-text">$400,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ratio de Deuda</h5>
                    <p class="card-text">0.5</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}