{% extends "aplicacion/base.html" %}

{% block contenido %}
{%load static%}
    
<div class="container mt-5">
    {% for categoria, productos in categorias.items %}
    <h2 class="text-center"><strong>{{ categoria }}</strong></h2>
    <div id="carousel{{ forloop.counter }}" class="carousel slide mb-4" data-ride="carousel">
        <div class="overflow-x-auto">
            <div class="d-flex">
                {% for producto in productos %}
                <div class="col-3">
                    <div class="mx-2 text-center">
                        <a href="{% url 'detalle_producto' producto.nombre %}">
                            <img class="thumbnail" src="{{ producto.foto.url }}" alt="{{ producto.nombre }}">
                        </a>
                        <div class="box-element card-body product-head" style="background-color: gainsboro;">
                            <h5 style="font-size: medium;">{{ producto.nombre }}</h5>
                        </div>
                    </div>
                    <div class=" text-center">
                        <p style="font-size: large; font-weight: bold;">${{ producto.precio }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/lightslider.min.js' %}"></script>

{% endblock contenido %}