{% extends "aplicacion/base.html" %}
    

{% block contenido %}
{%load static%}

<h3 class="centrado pt-5">Inicia Sesión con tu cuenta</h3>
<div class="pt-5 centrado mb-5 ">
  <form class="p-5 border" action="" class="" id="registroInicio" method="post" name="registroInicio">
    <img src="{%static 'img/User-Circle-Single--Streamline-Core.svg' %}" width="75rem" alt="">
    <div class="pt-5 mb-3">
      <label for="inicioNombreUsuario" class="form-label">Dirección de Correo</label>
      <input type="email" class="form-control" minlength="3" id="inicioCorreo" name="inicioCorreo" placeholder="Ingresa tu correo"
        required>
    </div>
    <div class="pt-5 mb-3">
      <label for="inicioPass" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="passInicio" name="passInicio" placeholder="Ingresa tu contraseña" required>
    </div>
    <div class="mb-3 form-check">
      <a href="#" data-bs-toggle="modal" data-bs-target="#olvidoContrasenaModal">¿Olvidó su contraseña?</a>
    </div>
    <div class="p-3">
      <button type="submit" class="btn btn-warning rounded-0" value="SUBMIT">Iniciar Sesión</button>
    </div>
    <div class="pt-3 border-top">
      <p>¿No tienes una cuenta con nosotros? <a href="{% url 'registro'%}">Regístrate</a></p>
    </div>
  </form>
</div>
</main>   

<!-- Modal para recuperar contraseña -->
<div class="modal fade" id="olvidoContrasenaModal" tabindex="-1" aria-labelledby="olvidoContrasenaModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="olvidoContrasenaModalLabel">Recuperar Contraseña</h5>
          <button type="button" class="btn-close rounded-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>Por favor ingrese su dirección de correo electrónico para recuperar su contraseña:</p>
          <input type="email" class="form-control rounded-0" id="recuperarContrasenaEmail"
              placeholder="Correo Electrónico">
          <!-- Mensaje de error -->
          <div id="errorEmail"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancelar</button>
        <a href="{% url 'index'%}" class="btn btn-warning rounded-0" id="btnEnviar">Enviar</a>
      </div>
  </div>
</div>
</div>

{% endblock contenido %}