{% extends "aplicacion/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}
    
<div class="container mt-5 container-fluid">
    <h1 class="mb-4">Usuarios Registrados</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo Electrónico</th>
                    <th>Estado de la Cuenta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.get_full_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        {% if usuario.is_active %}
                            <span class="badge bg-success">Activa</span>
                        {% else %}
                            <span class="badge bg-danger">Desactivada</span>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger rounded-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminar{{ usuario.id }}">Eliminar</button>
                        <a href="{% url 'editarusuario' usuario.id %}" class="btn btn-secondary rounded-0 btn-sm">Modificar</a>
                    </td>
                </tr>
                <!-- Modal de Confirmación para cada usuario -->
                <div class="modal fade" id="modalConfirmarEliminar{{ usuario.id }}" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarEliminar{{ usuario.id }}Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalConfirmarEliminar{{ usuario.id }}Label">Confirmar Eliminación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>¿Estás seguro de que deseas eliminar a {{ usuario.get_full_name }}?</p>
                            </div>
                            <div class="modal-footer">
                                <form method="post" action="{% url 'eliminarusuario' usuario.id %}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger rounded-0">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}
