{% extends "aplicacion/base.html" %}
    
    
    
{% block contenido %}
{% load static%}
    
<div class="container mt-5 container-fluid">
    <h1 class="mb-4">Usuarios Registrados</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Estado de la Cuenta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Usuario 1</td>
                    <td>Calle Falsa 123</td>
                    <td>usuario1@example.com</td>
                    <td>555-123-4567</td>
                    <td>Activa</td>
                    <td>
                        <button type="button" class="btn btn-danger rounded-0 btn-sm" data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminar">Eliminar</button>
                        <button class="btn btn-secondary rounded-0 btn-sm">Modificar</button>
                    </td>
                </tr>
                <tr>
                    <td>Usuario 2</td>
                    <td>Avenida Imaginaria 456</td>
                    <td>usuario2@example.com</td>
                    <td>555-987-6543</td>
                    <td>Desactivada</td>
                    <td>
                        <button class="btn btn-danger rounded-0 btn-sm " data-bs-toggle="modal" data-bs-target="#modalConfirmarEliminar">Eliminar</button>
                        <button class="btn btn-secondary rounded-0 btn-sm">Modificar</button>
                    </td>
                </tr>
                <!-- Agrega más usuarios aquí -->
            </tbody>
        </table>
    </div>
</div>



<!-- Modal de Confirmación -->
<div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" role="dialog" aria-labelledby="modalConfirmarEliminarLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalConfirmarEliminarLabel">Confirmar Eliminación</h5>
               </button>
           </div>
           <div class="modal-body">
               ¿Estás seguro de que deseas eliminar este usuario?
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Cancelar</button>
                <a href="listausuarios.html" class="btn btn-danger rounded-0">Eliminar</a>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
