{% extends "aplicacion/base.html" %}
{% block contenido %}
    <h2>Mis Compras</h2>
    {% if ultima_compra %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Número de Boleta</th>
                    <th>Fecha de Boleta</th>
                    <th>Total</th>
                    <th>Estado de Entrega</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ultima_compra.boleta.id }}</td>
                    <td>{{ ultima_compra.fecha_compra }}</td>
                    <td>${{ ultima_compra.total }}</td>
                    <td>{{ ultima_compra.get_estado_entrega_display }}</td>
                    <td>
                        <a href="{% url 'detalle_boleta' ultima_compra.boleta.id %}" class="btn btn-info">Ver Detalle</a>
                    </td>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p>No hay boletas registradas.</p>
    {% endif %}
{% endblock contenido %}
