{% extends "aplicacion/base.html" %}
    

{% block contenido %}
{%load static%}

  <!--Información de Ajustes -->
  <div class="container border p-3 mb-3 mt-5">
    <h3>
        Datos de localización
    </h3>
    <p>Aquí podrá modificar su dirección y dar instrucciones adicionales para la entrega de su producto.</p>
</div>

<div class="container border mb-5">
    <div class="mb-2 p-3">
        <h5 class="mb-3">
            Dirección
        </h5>
        <label for="text" class="form-control mb-2" id="direccionUsuario">Pasaje Espinas Espinozas</label>
        <input type="text" class="form-control mb-2" id="cambiodireccion" placeholder="Cambiar dirección principal">
        <button type="submit" class="btn btn-primary rounded-0" data-bs-toggle="modal" data-bs-target="#modalCambiosLocalizacion">Guardar Nueva direccion</button>
        
    </div>
    <div class="mb-3 p-3">
        <h5>
            Datos adicionales para su entrega (Color del portón, nombre de quien recibe, etc.)
        </h5>
            <div class="mb-3">
                <label for="datosAdicionalesDireccion" class="form-label"></label>
                <input type="text" class="form-control" id="datosadicionales" placeholder="Datos adicionales de domicilio (opcional)">
            </div>
            <button type="submit" class="btn btn-primary rounded-0" data-bs-toggle="modal" data-bs-target="#modalCambiosLocalizacion">Guardar</button>
    </div>
</div>


<!-- Modal de confirmación de cambios -->
<div class="modal fade" id="modalCambiosLocalizacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Estás seguro de realizar los cambios?</h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger rounded-0" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success rounded-0">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>
<!--Fin Modal Confirmacion de Cambios-->

{% endblock contenido %}