{% extends "aplicacion/base.html" %}
    
    
    
{% block contenido %}
{%load static%}

<body>
    <div class="table-responsive px-5 mt-5 mb-5">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th>Número de Pedido</th>
            <th>Nombre del Producto</th>
            <th>Cantidad</th>
            <th>Fecha de Compra</th>
            <th>Estado de Entrega</th>
          </tr>
        </thead>
        <tbody>
          <tr id="pedido1Admin">
            <td>001</td>
            <td>Producto 1</td>
            <td>5</td>
            <td>2024-05-09</td>
            <td>Entregado</td>
          </tr>
          <tr id="pedido2Admin">
            <td>002</td>
            <td>Producto 2</td>
            <td>3</td>
            <td>2024-05-08</td>
            <td>En camino</td>
          </tr>
          <tr id="pedido3Admin">
            <td>003</td>
            <td>Producto 3</td>
            <td>2</td>
            <td>2024-05-07</td>
            <td>Pendiente</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
  </body>



      <!-- Modal de Confirmación para Cancelar Pedido -->
      <div class="modal fade" id="confirmCancelModal" tabindex="-1" aria-labelledby="confirmCancelModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelModalLabel">Confirmar Cancelación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas eliminar este pedido? Será redirigido a la página de contacto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <a href="{% url 'contacto'%}" class="btn btn-danger" data-bs-dismiss="modal" id="confirmacionEliminarPedido">Cancelar Pedido</a>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}