{% extends "aplicacion/base.html" %}

{% block contenido %}
{% load static %}

<div class="container mt-5">
    <h2>Historial de Compras</h2>
    {% for compra in compras %}
    <div class="row mt-3 mb-3 white-background" id="pedido{{ forloop.counter }}Usuario">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ compra.producto.foto.url }}" alt="Producto {{ forloop.counter }}" class="img-fluid border" width="35%">
            </div>
            <div class="col-md-6 px-5 mt-3">
                <h4>Seguimiento de Pedido</h4>
                <p><strong>Estado de la Entrega:</strong> {{ compra.estado_entrega }}</p>
                <p><strong>Información del Pedido:</strong></p>
                <ul>
                    <li><strong>Número de Pedido:</strong> {{ compra.id }}</li>
                    <li><strong>Fecha de Compra:</strong> {{ compra.fecha_compra|date:"d/m/Y" }}</li>
                    <li><strong>Producto:</strong> {{ compra.boleta.fk_producto.nombre }}</li>
                    <li><strong>Cantidad:</strong> {{ compra.carrito.items.count }}</li>
                    <li><strong>Total:</strong> ${{ compra.boleta.total }}</li>
                </ul>
                <div class="justify-content-center">
                    <a href="{% url 'detalle_producto' compra.boleta.fk_producto.id %}" class="btn btn-secondary rounded-0 mt-2">Detalles de producto</a>
                    <button class="btn btn-danger rounded-0 mt-2" data-bs-toggle="modal" data-bs-target="#confirmCancelModal{{ forloop.counter }}">Cancelar Pedido</button>
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>

    <!-- Modal de Confirmación para Cancelar Pedido -->
    <div class="modal fade" id="confirmCancelModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="confirmCancelModalLabel{{ forloop.counter }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmCancelModalLabel{{ forloop.counter }}">Confirmar Cancelación</h5>
                    <button type="button" class="btn-close rounded-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que deseas cancelar este pedido? Serás redirigido a la página de contacto.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <a href="{% url 'index' %}" class="btn btn-danger">Cancelar Pedido</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
