{% extends "aplicacion/base.html" %}
    
    
    
{% block contenido %}

<div class="container mt-5">
    <h1 class="text-center">Stock de productos</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Miniaturas en blanco</h5>
                    <p class="card-text">Cantidad en stock: 100</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Pintura de color</h5>
                    <p class="card-text">Cantidad en stock: 75</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Brochas tamaño 5</h5>
                    <p class="card-text">Cantidad en stock: 50</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Miniaturas pintadas</h5>
                    <p class="card-text">Cantidad en stock: 120</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}