{% extends "aplicacion/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
    
    <div class="row">
        <div class="col-sm-4 mb-3"></div>
        <div class="col-sm-4 pt-3 border mt-3">
            <div class="bg-secondary">
                <h1 class="text-center text-light">Crear cuenta</h1>
            </div>
            <div class="p-3">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                        <strong>
                            {% if message.tags == 'success' %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                </svg>
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                                </svg>
                            {% endif %}
                        </strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{form | crispy}}
                    <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="submit" class="center-text btn btn-warning btn-lg">Registrarme</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="col-sm-4"></div>
    </div>
    

{% endblock contenido %}