.centrado{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
  }

.centrado-filtro{
    justify-content: space-between;
    align-content: space-evenly;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
    
}

.off-canvas-img {
    float: left;
    width: 50%;
  }


.img-wrapper{
    max-width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card{
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner{
    padding: 1em;
}

.card{
    margin: 0 .5em;
}

@media screen and (min-width:576px) {
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.box-element {
    box-shadow: 0 0 16px hsl(0, 0%, 80%);
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px; /* Espacio entre los productos */
}

.producto {
    border-radius: 0 0 4px 4px;
}

.thumbnail {
    width: 100%;
    height: auto; /* Utiliza 'auto' para que la altura se ajuste automáticamente */
    box-shadow: -1px -3px 5px -2px hsl(0, 0%, 80%);
    -webkit-box-shadow: -1px -3px 5px -2px hsl(0, 0%, 80%);
    -moz-box-shadow: -1px -3px 5px -2px hsl(0, 0%, 80%);
}

.text-center {
    text-align: center; /* Centra el contenido horizontalmente */
}

.text-center h4 {
    margin-top: 0; /* Elimina el margen superior del precio */
    margin-bottom: 10px; /* Añade un margen inferior al precio */
}

.img-producto {
    max-width: 100%;
    height: auto;

}

.vr {
    border-left: 1px solid black;
    height: 100%;
    margin: 0 20px;
}

@media (max-width: 767.98px) {
    .vr {
        display: none;
    }
}

.texto-pequeno {
    font-size: small;
}

.linea-horizontal {
    display: none;
}
@media (max-width: 767.98px) {
    .vr {
        display: none;
    }
    .linea-horizontal {
        display: block;
        border: 0;
        margin: 10px 0;
    }
}

.input-group{
    width: 100%;
    max-width: 175px; /* Ajusta el ancho máximo según tus necesidades */
    margin-right: auto;
}

@media (max-width: 992px) {
    .input-group {
        width: 100%;
        max-width: 250px; /* Ajusta el ancho máximo según tus necesidades */
        margin-right: auto;
    }
}

/* Estilos para ocultar las flechas del input number */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
        
input[type=number] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
}

.product-title {
    margin-top: 0.5rem; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 0; /* Elimina el margen inferior */
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el contenido que sobresale */
    text-overflow: ellipsis; /* Añade puntos suspensivos al final si el texto es demasiado largo */
}
.product-card {
    padding: 1rem; /* Ajusta el padding del contenedor de producto */
}

.img-thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

textarea {
    resize: none;
}

.form-control-file {
    width: 100%;
}


.alert {
    margin-top: 5px;
    padding: 5px 10px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}