{% extends "aplicacion/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block contenido %}
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="container mt-5">
            <h2>Crear Pedido</h2>
            <form method="post">
                {% csrf_token %}
                {{ compra_form|crispy }}
                {% if carrito.items.all %}
                <div id="productos-compra">
                    {% for item in carrito.items.all %}
                    <div class="d-flex border align-items-center mt-3 p-2">
                        <div class="card-body">
                            <label for="producto">Producto:</label>
                            <h2 class="card-title">{{ item.producto.nombre }}</h2>
                            <input type="hidden" name="productos_ids" value="{{ item.producto.id }}">
                            <img src="{{ item.producto.foto.url }}" alt="{{ item.producto.nombre }}" class="img-fluid card-img-top mb-3">
                            <!--<div class="mb-3">
                                <label for="cantidad">Cantidad:</label>
                                <input type="number" name="cantidades" class="form-control" min="1" value="{{ item.cantidad }}">
                            </div> -->
                            <div class="mb-3 w-25">
                                <label for="cantidad">Cantidad:</label>
                                <div class="input-group">
                                    <button type="button" class="btn btn-outline-secondary btn-plus">-</button>
                                    <input type="number" name="cantidades" class="form-control" min="1" value="{{ item.cantidad }}">
                                    <a href="{% url 'aumentar_item_carrito' item.id %}">
                                        <button type="button" class="btn btn-outline-secondary btn-minus">+</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card mt-3">
                        <div class="card-body">
                            <label for="total"><strong>Total:</strong></label>
                            <p class="card-text">${{ total }}</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3">
                    <button type="submit" class="btn btn-primary d-grid gap-2 col-4 mx-auto">Crear Pedido</button>
                </div>
            </form>
                {% else %}
                <div class="mt-3">
                    <h2>No hay productos en el carrito</h2>
                    <a href="{% url 'carrito' %}" class="btn btn-primary">Volver</a>
                </div>
                {% endif %}
            
        </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
</div>
{% endblock %}

<div class="d-flex border align-items-center mt-3 p-2">
    <div class="card-body">
        <label for="producto">Producto:</label>
        <h2 class="card-title">{{ item.producto.nombre }}</h2>
        <input type="hidden" name="productos_ids" value="{{ item.producto.id }}">
        <img src="{{ item.producto.foto.url }}" alt="{{ item.producto.nombre }}" class="img-fluid card-img-top mb-3">
        <div class="mb-3">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidades" class="form-control" min="1" value="{{ item.cantidad }}">
        </div>
        <div class="mb-3">
            <label for="precio">Precio Unitario:</label>
            <p class="card-text">${{ item.producto.precio }}</p>
        </div>
    </div>
</div>