{% extends "aplicacion/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<div class="container mt-5">
    <h2>Listado de Pedidos</h2>
    <div>
        <a href="{% url 'carrito' %}" class="btn btn-success">
            <!-- Icono de Bootstrap -->
        </a> (Pruebas del sistema, crear pedido)
    </div>
    {% if compras %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número de Pedido</th>
                <th>Cantidad de Productos</th>
                <th>Total del Pedido</th>
                <th>Fecha de Compra</th>
                <th>Estado de Entrega</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.detallecompra_set.count }}</td>
                    <td>{{ compra.total }}</td>
                    <td>{{ compra.fecha_compra }}</td>
                    <td>{{ compra.get_estado_entrega_display }}</td>
                    <td>
                        <a href="{% url 'detalle_pedido' compra.id %}" class="btn btn-info btn-sm">Ver</a>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminarPedido{{ compra.id }}">Eliminar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay pedidos.</p>
{% endif %}

<!-- Modal para eliminar pedido -->
{% for compra in compras %}
    <div class="modal fade" id="modalEliminarPedido{{ compra.id }}" tabindex="-1" aria-labelledby="modalEliminarPedidoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEliminarPedidoLabel">Eliminar Pedido #{{ compra.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres eliminar este pedido?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form action="{% url 'eliminar_pedido' compra.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock contenido %}